@font-face {
  font-family: "cursed_timer_ulilregular";
  src: url("cursedtimerulil-aznm.woff2") format("woff2"),
    url("cursedtimerulil-aznm.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "cursed_timer_ulilregular";
  text-align: center;
  height: 100vh;
}
.scoreboard {
  width: 575px;
  background-color: #1b244a;
  color: #eeeeee;
  margin: 0 auto;
  border-radius: 10px;
  padding: 0 0 1.5em 0;
}
.home,
.guest {
  display: inline-block;
  padding: 25px;
  margin: 0 auto;
}
.guestname,
.homename {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  text-shadow: 1px 5px 2px black;
}

.homescore,
.guestscore {
  font-weight: 700;
  font-size: 80px;
  background-color: #080001;
  padding-top: 10px;
  margin: 0 auto;
  color: #f94f6d;
}

button {
  margin-top: 25px;
  font-family: "cursed_timer_ulilregular";
  text-align: center;
  color: #080001;
}

.btn-reset {
  padding: 0.75em 1.5em;
  font-size: 1em;
}
